# Install server using a preseed file to set the root password
# 1) Check is MySQL Server is already installed. If so, do not set preseed file
- name: Check for previous installation
  shell: "[ -f /usr/sbin/mysqld ]"
  ignore_errors: True
  register: mysqld_exists

# 2) Preseed install options
- name: Push preseed file for debconf
  template:
    src=mysql_seed.j2
    dest=/vagrant/tmp/mysql.seed
  when: mysqld_exists|failed

- name: Preseed mysql file
  sudo: yes
  command: /usr/bin/debconf-set-selections /vagrant/tmp/mysql.seed
  when: mysqld_exists|failed

# 3) Install
- name: Install server
  sudo: yes
  apt: pkg=mysql-server state=installed force=yes
  when: mysqld_exists|failed

- name: Ensure MySQL daemon is running
  service: name=mysql state=started

# 4) Cleanup
- name: Delete mysql.seed file
  command: /bin/rm /vagrant/tmp/mysql.seed
  when: mysqld_exists|failed


# Push configuration files
- name: Set my.cnf template
  template:
    src=my.cnf.j2
    dest=/vagrant/conf/mysql/my.cnf
    owner=vagrant mode=0644
  notify:
  - mysql-restart


# Secure installation
- name: Ensure python mysql is installed
  sudo: yes
  apt: pkg=python-mysqldb state=installed force=yes

- name: Remove empty password users
  mysql_user: name='' password='' host=localhost priv=*.*:USAGE state=absent login_user=root login_password={{ mysql_root_password }}

- name: Remove empty password users
  mysql_user: name='' password='' host={{ ansible_fqdn }} priv=*.*:USAGE state=absent login_user=root login_password={{ mysql_root_password }}

- name: Remove the MySQL test database
  mysql_db: db=test state=absent login_user=root login_password={{ mysql_root_password }}

# Make this generic next time.
- name: Create a new database with the name 'happymelly'
  mysql_db: name=happymelly state=present

- name: Restore database backup to happymelly
  mysql_db: name=happymelly state=import target={{mysql_happymelly_bk_path}}.sql
