---
- name: Install default package
  sudo: yes
  apt: pkg=memcached state=present

- name: Push default configuration template
  template:
    src=memcached.conf.j2
    dest=/home/vagrant/memcached.conf
    owner=vagrant group=vagrant mode=0644
  notify:
  - memcached-restart

# Ensure service is running.
- name: Ensure deamon is running correctly
  service: name=memcached state=started
